### Python ###
__pycache__/
*.py[cod]
*$py.class
.mypy_cache/
*.so

### Visual Studio Code ###
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json

### Jupyter Notebooks ###
.ipynb_checkpoints
*/.ipynb_checkpoints/*
*.ipynb
!/example.ipynb

### Datasets ###
datasets/*
!datasets/*.py

### Output ###
output/

### Testing ###
test/
test_*/
test_*.py
test_*.ipynb

### Misc ###
*.rb
*.sh
*.pdf
*.pkl
*.yaml
*.zip
*.png
*.svg
